@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This application was created by Jason Bergener as part of the courswork for CSC425: BSCS Integrated Project for Trident University International.</p>
<p>The application was designed to allow service orders to be created and modified for existing or new customers. The design is generic and could work for any organization that provides a service.</p>
