@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ServiceOrders</h1>
</div>
<div class="row">
    <div>
        <h2>Welcome to the ServiceOrders Application!</h2>
    </div>
</div>